[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
xlsxwriter = "*"
vndb-thigh-highs = "*"
anilistpython = "*"
requests = "*"
python-dotenv = "*"
matplotlib = "*"
pandas = "*"
parsedatetime = "*"
dateparser = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.10"
